.profile__info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 70%;
}

@media all and (max-width: 767px) {
  .profile__info {
    max-width: 70%;
    justify-content: center;
    align-items: center;
  }
}

@media all and (max-width: 458px) {
  .profile__info {
    max-width: 100%;
  }
}