.button__like {
  background-image: url(../../../images/button__like.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 22px;
  height: 19px;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.button__like:hover {
  opacity: 0.6;
}