.buttons_disabled {
    background: #FFFFFF;
    border: 1px solid #000000;
    opacity: 0.2;
    border-radius: 2px;
    cursor: default;
    color: #000000;
}

.buttons_disabled:hover {
    opacity: 0.2;
}