.button__form {
  background-image: url(../../../images/button__form.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 83.2%;
  height: 50px;
  border-radius: 2px;
  margin: 0 auto;
  margin-bottom: 37px;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.button__form:hover {
  opacity: 0.8;
}

@media all and (max-width: 767px) {
  .button__form {
    background-image: url(../../../images/button__form_mobile.png);
    background-size: contain;
    max-width: 84.3%;
    margin-bottom: 25px;
    padding: 0;

  }
}