.profile__name {
  max-width: 90%;
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin-right: 18px;
  margin-bottom: 16px;
  color: #FFFFFF;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media all and (max-width: 1279px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 14px;
    max-width: 88%;
  }
}

@media all and (max-width: 310px) {
  .profile__name {
    max-width: 80%;
  }
}