.popup__form-field {
    margin: 0 auto 13px;
    width: 83.2%;
    height: 55px;
}

@media all and (max-width: 400px) {
    .popup__form-field {
        height: 40px;
        margin-bottom: 40px;
    }
}
