.container {
  max-width: 880px;
  margin: 0 auto;
}

@media all and (max-width: 881px) {
  .container {
    max-width: 90%;
  }
}

@media all and (max-width: 767px) {
  .container {
    max-width: 88.1%;
  }
}

@media all and (max-width: 320px) {
  .container {
    max-width: 282px;
  }
}